<div class="container">
  <div class="form-group">
    <h2 class="text-center">To-do list</h2>
    <br>
    <br>
    <div class="row">
      <div class="col-10">
          <input class="form-control " type="text" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">
      </div>
      <div class="col-2">
        <button class="btn btn-success float-end" (click)="addTodo()">Add Todo</button>
      </div>
    </div>
    <br>
  </div>
</div>
<br>
<div class="container">
  <div class="row mb-2 "
       *ngFor="let todo of todos; let i = index"
       [class.completed-task]="todo.complete">
    <div class="col-1">
      <input type="checkbox" (change)="onCheckBoxChange($event, i)">
    </div>
    <div class="col-10 text-center"
         *ngIf="!todo.editing;
         else editingTodo"
         (dblclick)="editTodo(todo)">
      {{todo.name}}
    </div>
    <ng-template #editingTodo>
      <div class="col-10  text-center">
        <input type="text"
               class="todo-item-edit form-control text-center"
               [(ngModel)]="todo.name"
               (blur)="doneEdit(todo)"
               (keyup.enter)="doneEdit(todo)">
      </div>
    </ng-template>
    <div class="col-1">
      <button class="btn btn-danger float-end" (click)="deleteTodo(todo.id)">x</button>
    </div>
  </div>
</div>
